{% extends 'base.html.twig' %}

{% block title %}Hybrid Market Place
{% endblock %}

{# Landing page #}
{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="#">
            <img src="{{asset('assets/images/logo/logo.png')}}" width="30" height="30" alt="HMP" class="shadow-sm">
        </a>
        <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarText" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#">Why Hybrid Market Place?
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>

            <span class="p-1">
                <a href="{{path('app_login')}} " class=" btn btn-info text-uppercase" href="">
                    SIGN IN
                </a>
            </span>
            <span class="p-1">
                <a href="{{path('app_register')}} " class=" btn btn-outline-warning text-uppercase" href="">
                    SIGN UP
                </a>
            </span>

        </div>
    </nav>

    <div class="container-fluid">
        <div class="row featurette">
            <div class="col-md-4 content-align-center">
                <h1 class="mt-5 display-5 font-weight-bold text-center text-primary featurette-heading">

                    HYBRID MARKET PLACE

                </h1>
                <h5 class="text-center my-5 p-2">
    FOR WEB APPLICATIONS
                </h5>
                <p class="lead text-center my-3 p-2">
                    Find Tools, Components and Modules to build on and improve your workflow.
                </p>

                <p class="text-muted my-3 text-center">Plan, Develop and Publish.</p>
                <p class="text-center">
                    <a href="{{path('marketplace')}} " class="btn btn-warning font-weight-bold my-3">
                        SHOP NOW
                        <i class="fa fa-shopping-cart"></i>
                    </a>

                </p>

            </div>
            <div class="col-md-8 content-align-center text-center">
                <h2 class="text-center font-weight-bold my-5 p-2">
                    LATEST WEB APPLICATIONS
                </h2>
                {%for project in project | slice(0,6)%}

                    <figure class="figure shadow-sm mx-1 p-3 col-sm-4 w-25">
                        <div class="text-center">
                            <img src="{{asset('uploads/project/icons/'~ project.icon) }}" class="mx-auto figure-img img-fluid rounded" alt="..." style="height:70px; width: 70px;">
                        </div>

                        <h6 class="text-center text-primary mt-1 mb-1" style="font-size: 14px;">
                            <a href="{{path('marketplace_show_project', {id: project.id})}}">
                                {{project.title | capitalize}}</a>
                            <i class="text-success fa fa-check-circle"></i>
                        </h6>

                        <figcaption class="figure-caption mt-1">
                            {{project.description | slice(0,40)~'...'}}
                        </figcaption>


                    </figure>
                    {%endfor%}
                </div>
            </div>
            
        </div>
    </div>


    <div class="container-fluid">
        <hr class="my-2">
        <div class="row featurette">

            <div class="col-md-4 content-align-center text-center">
                <img src="{{asset('assets/images/landingpage/600.png')}}" class=" my-5 p-2 text-center w-100 bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" focusable="false" role="img" aria-label="Placeholder: 500x500">
            </div>

            <div class="col-md-8 content-align-center text-center">
                <h2 class="text-center font-weight-bold my-5 p-2">
                    LATEST WEB APPLICATIONS
                </h2>
                {%for project in project | slice(0,6)%}

                    <figure class="figure shadow-sm mx-1 p-3 col-sm-4 w-25">
                        <div class="text-center">
                            <img src="{{asset('uploads/project/icons/'~ project.icon) }}" class="mx-auto figure-img img-fluid rounded" alt="..." style="height:70px; width: 70px;">
                        </div>

                        <h6 class="text-center text-primary mt-1 mb-1" style="font-size: 14px;">
                            <a href="{{path('marketplace_show_project', {id: project.id})}}">
                                {{project.title | capitalize}}</a>
                            <i class="text-success fa fa-check-circle"></i>
                        </h6>

                        <figcaption class="figure-caption mt-1">
                            {{project.description | slice(0,40)~'...'}}
                        </figcaption>


                    </figure>
                    {%endfor%}
                </div>
            </div>

        </div>
        <footer class="my-5 pt-5 text-muted text-center text-small" style="font-size: 12px">
            <p class="mb-1">Copyright 2017-2019 Hybrid Market Place</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Privacy</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Terms</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Support</a>
                </li>
            </ul>
        </footer>


    {% endblock %}
