{% extends 'base.html.twig' %}

{% block title %} {{project.title|capitalize}}{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="#">
            <img src="{{asset('assets/images/logo/logo.png')}}" width="30" height="30" alt="HMP" class="shadow-sm">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i> Account 
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item disabled" href=""><small>Signed in As </small></a>
                        <a class="text-info dropdown-item" href="#"> {{app.user.username | title}}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">My Profile</a>
                        <a class="dropdown-item" href="{{path('user_projects')}}">My Projects</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=""> Help </a>
                        <a class="dropdown-item" href=""> Settings </a>
                        <a class="text-danger dropdown-item" href="{{path('app_logout')}}">Log Out</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('home')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{path('marketplace')}}">Market Place </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Contributors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('forum')}}"> Forum </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Blog </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> FAQ's </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search ..." aria-label="Search">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"> Search </button>
            </form>
            <span class="p-3 navbar-text">
                <a class="text-primary" href=""><i class="fa fa-facebook"></i></a>
            </span>
            <span class="p-3 navbar-text">
                <a class="text-info" href=""><i class="fa fa-twitter"></i></a>
            </span>

            <span class="p-3 navbar-text">
                <a class="text-danger" href=""><i class="fa fa-youtube"></i></a>
            </span>
        </div>
    </nav>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-3">
                <div class="p-2 lead">
                    <div class="text-center">
                        <img class="mr-3 my-5 " src="{{asset('uploads/project/icons/'~ project.icon) }}" style="width:64px;height: 64px" alt="Generic placeholder image">
                    </div>
                    <div class="mt-2"  style="font-size:14px;" >
                        <p class="mt-2 text-center"><i class="text-success fa fa-check-circle"></i> Verified by Hybrid Market Place</p>
                        <p class="my-2">Hybrid Market Place confirms that this app meets the <a href="#">requirements for verification.</a></p>
                        <code class="my-2 text-dark"> Supported Languages</code>
                        <p class="my-2"> 
                            PHP, Symfony Framework
                        </p>
                        <code class="my-2 text-dark"> Author </code><a href="#">Mandiallbenj</a>
                        <div class="d-flex mt-3 flex-column" style="font-size:13px;">
                            <h6> Developer Links</h6>
                            <div class="">
                                <a href="#"> Support </a>                                     
                            </div>
                            <div class="">
                                <a href="#"> Status </a>                                     
                            </div>
                            <div class="">
                                <a href="#"> Documentation </a>                                     
                            </div>
                            <div class="">
                                <a href="#"> Terms of service and Privacy Policy </a>                                     
                            </div>

                            <div class="mt-3">
                                <!-- Button trigger modal -->
                                <a href="" class="" data-toggle="modal" data-target="#exampleModal">
                                    <code class="text-danger"> Report !</code></a> project in case of violation


                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-9">

                <div class="alert-light my-5">


                    <small> Application/Mobile</small>

                    <div class="d-flex flex-row">
                        <h1 class="mt-1 p-1">{{project.title|capitalize}}</h1>
                        {% if(is_granted('ROLE_USER'))%}<a class="text-secondary" href="#"><i class="fa fa-edit"></i> edit</a>{%endif%}
                    </div>

                    <small class="my-2">Published On : {{project.publishedAt |date_modify('+1 day') | date('m/d/y')}}</small>

                    <p class="lead mt-1"  style="font-size:13px;">
                        {{project.description}}                           
                    </p>

                    <p class="my-2 lead" style="font-size:14px;"><code class="text-danger"> important !</code> <a href="/docs/4.3/">Read our Documentation</a> if need be, too.</p>

                    <small class="disabled"> Rating <span class="bg-light"> 4.0</span></small>

                    <div class="d-flex flex-row my-3">

                        <div class="">
                            <a href="#" class="btn btn-sm btn-success"> <i class="fa fa-download"></i> Download</a>
                        </div> 
                        <div class="px-2">
                            <a class="btn btn-sm btn-outline-success" data-toggle="collapse" href="#donateform" role="button" aria-expanded="false" aria-controls="donateform"><i class="fa fa-dollar"></i> Donate </a>

                        </div>      
                    </div>

                    <div class="collapse" id="donateform">
                        <div class="card border-left alert-light card-body">
                            <form style="font-size:14px;">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">Credit Points: <stong class="btn-link"> 1500</stong></label>
                                    <div class="input-group mb-3">
                                        <input style="font-size:14px;" type="text" class="form-control" placeholder="Enter Amount" aria-label="Recipient's username" aria-describedby="button-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-sm btn-outline-secondary" type="button" id="button-addon2">Accept</button>
                                        </div>
                                    </div>

                                </div>

                            </form>    
                        </div>
                    </div>



                </div>

                <div class="alert alert-danger">
                    {{form_start(form)}}
                    {{form_widget(form)}}
                    {{form_end(form)}}
                </div>

            </div>

        </div>

    </div>

    <footer style="font-size: 12px" class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">Copyright 2017-2019 Hybrid Market Place</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
{% endblock %}
