{% extends 'base.html.twig' %}

{% block title %}Admin | Dashboard{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="#">
            <img src="{{asset('assets/images/logo/logo.png')}}" width="30" height="30" alt="HMP" class="shadow-sm">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{{path('home')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('marketplace')}}">Market Place </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{path('forum')}}"> Forum </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"> FAQ's </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Support </a>
                </li>

            </ul>
            <div class="nav-item dropdown border-right border-left">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{asset('uploads/profile/profilepicture.jpg')}}" width="30" height="30" style="border-radius:50px" alt="" class="border border-success img-circle"> 
                    <small class="text-success mx-1">Signed in As </small>  <span class="text-white"> {{app.user.username | lower}} </span>
                </a>
                <div class="dropdown-menu mt-3 w-100 shadow" aria-labelledby="navbarDropdown" style="font-size: 14px;">
                    <a class="text-info dropdown-item" href="#"> </a>
                    <a class="dropdown-item " href="#">Dashboard</a>
                    <a class="dropdown-item " href="#">Active Users</a>
                    <a class="dropdown-item " href="#">Requests</a>   
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item " href="">Help </a>
                    <a class="dropdown-item " href="">Settings </a>
                    <div class="dropdown-divider"></div>
                    <a class="text-danger dropdown-item text-secondary" href="{{path('app_logout')}}">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block navbar-dark bg-light sidebar mt-3">
                    <div class="sidebar-sticky text-secondary">
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Hi, {{(app.user.username | title)}}</span>
                        </h6>
                        <hr>
                        <ul style="font-size: 14px;" class="nav flex-column text-secondary">
                            <li class="nav-item">
                                <a class="nav-link active text-secondary" href="#">
                                    <i class="fa fa-bars"></i> Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary active" href="#">
                                    <i class="fa fa-envelope-o"></i> Messages
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-secondary" href="#">
                                    <i class="fa fa-users"></i> Users <span class="d-inline badge badge-primary"> {{TotalNumberOfUsers}} </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary active" href="#">
                                    <i class="fa fa-folder-open"></i> Projects
                                    <span class="d-inline badge badge-warning"> {{totalNumberOfProject}} </span>
                                </a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="#">
                                    <i class="fa fa-dollar"></i>  Enterprise Requsets
                                </a>
                            </li>
                        </ul>
                        <hr>
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Others</span>
                            <a class="d-flex align-items-center text-muted" href="#">

                            </a>
                        </h6>
                        <ul style="font-size: 14px;" class="nav flex-column text-secondary">


                            <li class="nav-item">
                                <a class="nav-link active text-secondary" href="#">
                                    <i class="fa fa-credit-card"></i>  1
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="#">
                                    <i class="fa fa-briefcase"></i>   2
                                </a>
                            </li>

                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h5><a class="card-title font-weight-bold" href="{{path('all_projects')}}"><i class="fa fa-folder-open"></i>All Projects <span class="d-inline badge badge-warning">{{totalNumberOfProject}}</span></a></h5>
                    </div>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                    <ul style="font-size: 14px;" class="list-unstyled mt-3">

                        {%for project in project%}
                            <li class="media my-4 shadow p-2">
                                <img class="mr-3 rounded" src="{{asset('uploads/project/icons/'~ project.icon) }}" style="width:45px;height: 45px" alt=" image">
                                <div class="media-body my-1">
                                    <h6 style="font-size: 14px;" class="text-primary mt-0 mb-1"><a href="{{path('marketplace_show_project', {id: project.id})}}"> {{project.title | capitalize}}</a> <i class="text-success fa fa-check-circle"></i></h6>
                                        {{project.description}}


                                    <div class="d-flex flex-row light mt-1 mb-3" style="font-size:14px;">

                                        <div class="bd-highlight">
                                            <a class="nav-link text-secondary font-weight-bold" href="#">
                                                <i style="font-size: 16px;" class="fa fa-handshake-o"></i> Collaborators 
                                                <span class="badge badge-dark alert-success">
                                                    {% set CollaboratorMatchCount = 0 %}
                                                    {%for cproject in cproject%}
                                                        {%if project.id == cproject.project.id and cproject.isAccepted == ['YES'] %}
                                                            {% set CollaboratorMatchCount = matchCount + 1 %}
                                                        {%endif%}
                                                    {%endfor%}
                                                    {{CollaboratorMatchCount}}
                                                </span>
                                            </a>
                                        </div>
                                        <div class="bd-highlight">
                                            <a class="nav-link text-secondary font-weight-bold" href="#">
                                                <i style="font-size: 16px;" class="fa fa-code-fork"></i> Requests 
                                                <span class="badge badge-dark alert-info">
                                                    {% set CollaboratorRequestMatchCount = 0 %}
                                                    {%for cproject in cproject%}
                                                        {%if project.id == cproject.project.id %}
                                                            {% set CollaboratorRequestMatchCount = CollaboratorRequestMatchCount + 1 %}
                                                        {%endif%}
                                                    {%endfor%}
                                                    {{CollaboratorRequestMatchCount}}
                                                </span>
                                            </a>
                                        </div>
                                        <div class="bd-highlight">
                                            <a class="nav-link text-secondary font-weight-bold" href="#">
                                                <i style="font-size: 16px;" class="fa text-secondary fa-flag"></i> Issues
                                                <span class="badge badge-dark alert-danger">
                                                    {% set IssuesMatchCount = 0 %}
                                                    {%for iproject in iproject%}
                                                        {%if project.id == iproject.project.id %}
                                                            {% set IssuesMatchCount = IssuesMatchCount + 1 %}
                                                        {%endif%}
                                                    {%endfor%}
                                                    {{IssuesMatchCount}}
                                                </span>
                                            </a>
                                        </div>
                                        <div class="bd-highlight">
                                            <a class="nav-link text-secondary font-weight-bold" href="{{path('make_enterprise',{id: project.id})}}">
                                                <i style="font-size: 16px;" class="fa text-success fa-circle on fa-dollar"></i> Enterprise
                                            </a>
                                        </div>
                                        <div class="bd-highlight">
                                            {%if project.isblocked == "YES" or project.isblocked == NULL %}
                                                <a class="nav-link text-secondary font-weight-bold" href="{{path('unblock_project',{id: project.id})}}">
                                                    <i style="font-size: 16px;" class="fa text-success fa-ban"></i> Unblock
                                                </a>

                                            {%else%}
                                                <a class="nav-link text-secondary font-weight-bold" href="{{path('block_project',{id: project.id})}}">
                                                    <i style="font-size: 16px;" class="fa text-danger fa-ban"></i> block
                                                </a>

                                            {%endif%}
                                        </div>
                                        <div class="bd-highlight">
                                            {%if project.isApproved == "YES" or project.isblocked == NULL %}
                                                <a class="nav-link text-secondary font-weight-bold" href="{{path('disapprove_project',{id: project.id})}}">
                                                    <i style="font-size: 16px;" class="fa text-danger fa-check-circle"></i> Disapprove
                                                </a>

                                            {%else%}
                                                <a class="nav-link text-secondary font-weight-bold" href="{{path('approve_project',{id: project.id})}}">
                                                    <i style="font-size: 16px;" class="fa text-success fa-check-circle"></i> Approve
                                                </a>
                                            {%endif%}
                                        </div>
                                    </div>


                                </div>
                            </li>
                        {%endfor%}
                    </ul>

                </main>
                </main>
            </div>
        </div>



    </div>
    <footer style="font-size: 12px" class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">Copyright 2017-2019 Hybrid Market Place</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
{% endblock %}
