{% extends 'base.html.twig' %}

{% block title %}Market Place{% endblock %}

{% block body %}
   
      <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="#">
            <img src="{{asset('assets/images/logo/logo.png')}}" width="30" height="30" alt="HMP" class="shadow-sm">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i> Account 
                    </a>
                    <div style="font-size: 13px" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item disabled" href=""><small>Signed in As </small></a>
                        <a class="text-info dropdown-item" href="#"> {{app.user.username | title}}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">My Profile</a>
                        <a class="dropdown-item" href="{{path('user_projects')}}">My Projects</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=""> Help </a>
                        <a class="dropdown-item" href=""> Settings </a>
                        <a class="text-danger dropdown-item" href="{{path('app_logout')}}">Log Out</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('home')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{path('marketplace')}}">Market Place </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{path('forum')}}"> Forum </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#"> Support </a>
                </li>
            </ul>
          

        </div>
    </nav>
    <div class="container-fluid">

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar mt-3">
                    <div class="sidebar-sticky text-secondary">
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Hi, {{(app.user.username | title)}}</span>
                                <a class="d-flex align-items-center text-muted" href="#">
                                    
                                </a>
                            </h6>
                                <hr>
                        <ul style="font-size: 14px;" class="nav flex-column text-secondary">
                            <li class="nav-item">
                                <a class="nav-link active text-secondary" href="#">
                                    <i class="fa fa-user-o"></i>  Profile 
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary active" href="#">
                                    <i class="fa fa-folder-open"></i>   My Projects
                                </a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="#">
                                    <i class="fa fa-bar-chart"></i>  Reports
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="#">
                                    <i class="fa fa-handshake-o"></i> Contributors
                                </a>
                            </li>
                             <li class="nav-item">
                <a class="nav-link active text-secondary" href="#">
                    <i class="fa fa-heart-o"></i>  Favorites
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="#">
                    <i class="fa fa-bookmark-o"></i>   Collections
                </a>
              </li>
                        </ul>
                                <hr>
                             <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>Transactions</span>
                                <a class="d-flex align-items-center text-muted" href="#">
                                    
                                </a>
                            </h6>
                        <ul style="font-size: 14px;" class="nav flex-column text-secondary">
                       

                            <li class="nav-item">
                                <a class="nav-link active text-secondary" href="#">
                                    <i class="fa fa-credit-card"></i>  Payouts
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="#">
                                    <i class="fa fa-briefcase"></i>   Donations
                                </a>
                            </li>

                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h6 class="">My Projects</h6>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            
                            <div class="btn-group mr-2">
                                <a href="{{path('project_upload')}}" class="btn btn-sm btn-outline-secondary">Start A Project</a>
                            </div>

                        </div>
                    </div>

                       <ul style="font-size: 14px;" class="list-unstyled mt-3">

                     {%for project in project%}
                        <li class="media my-3 shadow-sm p-2">
                            <img class="mr-3 rounded" src="{{asset('uploads/project/icons/'~ project.icon) }}" style="width:45px;height: 45px" alt=" image">
                            <div class="media-body">
                                <h6 style="font-size: 14px;" class="text-primary mt-0 mb-1"><a href="{{path('marketplace_show_project', {id: project.id})}}"> {{project.title | capitalize}}</a> <i class="text-success fa fa-check-circle"></i></h6>
                                        {{project.description}}

                                <div class="d-flex flex-row">
                                    <div class="p-2 font-weight-light"><small>Uploaded On {{project.publishedAt |date_modify('+1 day') | date('m/d/y')}}</small></div>
                                    <div class="p-2"><small><a class="text-primary" href=""><i class="fa fa-facebook"></i></a></small></div>
                                    <div class="p-2"><small><a class="text-info" href=""><i class="fa fa-twitter"></i></a></small></div>
                                    <div class="p-2"><small><a class="text-danger" href=""><i class="fa fa-youtube"></i></a></small></div>
                                </div>

                                <div class="d-flex flex-row bd-highlight mt-1 mb-3" style="font-size:13px;">
                                    
                                    <div class="p-2 bd-highlight"><a href="#" class="text-dark"><i class="fa fa-plus-square-o"></i> follow</a></div>
                                    <div class="p-2 bd-highlight"><a href="#" class="text-dark"><i class="fa fa-bookmark-o"></i> Add to collections</a></div>
                                    <div class="p-2 bd-highlight"><a class="text-dark" href="#"><i class="fa fa-download"></i> Download</a></div>
                                </div>
                              
                                
                            </div>
                        </li>
                    {%endfor%}
                </ul>

                </main>
            </div>
        </div>



    </div>
                     <footer style="font-size: 12px" class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">Copyright 2017-2019 Hybrid Market Place</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
{% endblock %}
